{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
  <form class="mx-5" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <h1> Login here !!!!</h1>
      <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="name">
      <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'register' %}" class="btn btn-success">New User Register</a>
  </form>
  {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

</div>

{% endblock %}